<!DOCTYPE html>
<html>
<head>
<style>
  /* Internal CSS */
 
</style>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>

<div class="navbar">
  <a href="/">Home</a>
  <a href="/postBlog">Add Blog</a>  <!-- addNewBlog.ejs file lai define gareko -->

</div>